In [1]:
import plotly.express as px
import plotly.graph_objects as go
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import datetime as dt
import numpy as np
import pandas as pd
from pandas.api.types import CategoricalDtype
import seaborn as sns
import sqlite3

# warnings
import warnings
warnings.filterwarnings('ignore',category=FutureWarning)

# Hide warning temporarily
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv("data/flights_sample_2m.csv")

In [3]:
dow_category = CategoricalDtype(categories=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday",
                                            "Saturday", "Sunday"], ordered=True)

df["FL_DATE"] = pd.to_datetime(df["FL_DATE"])
df["YEAR"] = df["FL_DATE"].dt.year
df["MONTH"] = df["FL_DATE"].dt.month
df["QUARTER"] = ((df["MONTH"] -1)//3)+1
df["DAY_OF_WEEK"] = df["FL_DATE"].dt.dayofweek.map({0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday',
                                                     4: 'Friday', 5: 'Saturday', 6: 'Sunday'}).astype(dow_category)

df["DISTANCE_CAT"] = pd.cut(
    df["DISTANCE"], bins = [-1, 500, 1500, float("inf")],
    labels = ["Short-haul", "Medium-haul", "Long-haul"]
)

In [4]:
# T·∫°o file database m·ªõi (n·∫øu ch∆∞a c√≥)
conn = sqlite3.connect("flights.db")  # file s·∫Ω t·ª± ƒë·ªông t·∫°o

# Ghi DataFrame v√†o SQLite
df.to_sql("flights", conn, if_exists="replace", index=False)

2000000

In [5]:
query_1 = """
SELECT R1.TOTAL_FLIGHTS, R2.N_DELAYED_FLIGHTS, R3.N_CANCELLED_FLIGHTS, R4.N_DIVERTED_FLIGHTS, R5.N_ONTIME_FLIGHTS
FROM (SELECT printf("%,d", COUNT(*)) AS TOTAL_FLIGHTS FROM flights) R1
JOIN (SELECT printf("%,d", COUNT(*)) AS N_DELAYED_FLIGHTS FROM flights WHERE ARR_DELAY > 15) R2
JOIN (SELECT printf("%,d", COUNT(*)) AS N_CANCELLED_FLIGHTS FROM flights WHERE CANCELLED == 1) R3
JOIN (SELECT printf("%,d", COUNT(*)) AS N_DIVERTED_FLIGHTS FROM flights WHERE DIVERTED == 1) R4
JOIN (SELECT printf("%,d", COUNT(*)) AS N_ONTIME_FLIGHTS FROM flights WHERE ARR_DELAY <=15) R5
"""
result_1 = pd.read_sql(query_1, conn)
result_1

,TOTAL_FLIGHTS,N_DELAYED_FLIGHTS,N_CANCELLED_FLIGHTS,N_DIVERTED_FLIGHTS,N_ONTIME_FLIGHTS
0,"2,000,000","343,875","52,522","4,709","1,598,894"

In [6]:
query_2 = """
SELECT DISTINCT AIRLINE
FROM flights
ORDER BY AIRLINE;
"""
result_2 = pd.read_sql(query_2, conn)
result_2

                               AIRLINE
0                 Alaska Airlines Inc.
1                        Allegiant Air
2               American Airlines Inc.
3                 Delta Air Lines Inc.
4                    Endeavor Air Inc.
5                            Envoy Air
6   ExpressJet Airlines LLC d/b/a aha!
7               Frontier Airlines Inc.
8               Hawaiian Airlines Inc.
9                          Horizon Air
10                     JetBlue Airways
11                  Mesa Airlines Inc.
12                   PSA Airlines Inc.
13                    Republic Airline
14               SkyWest Airlines Inc.
15              Southwest Airlines Co.
16                    Spirit Air Lines
17               United Air Lines Inc.

In [7]:
query_3 = """
SELECT YEAR, printf("%,d", COUNT(*)) AS TOTAL_FLIGHTS
FROM flights
GROUP BY YEAR;
"""
result_3 = pd.read_sql(query_3, conn)
result_3

   YEAR TOTAL_FLIGHTS
0  2019       505,345
1  2020       318,768
2  2021       407,824
3  2022       457,760
4  2023       310,303

In [8]:
query_4 = """
SELECT YEAR, MONTH, printf("%,d", COUNT(*)) AS TOTAL_FLIGHTS
FROM flights
GROUP BY YEAR, MONTH;
"""
result_4 = pd.read_sql(query_4, conn)
result_4

    YEAR  MONTH TOTAL_FLIGHTS
0   2019      1        39,568
1   2019      2        35,912
2   2019      3        43,208
3   2019      4        41,136
4   2019      5        43,293
5   2019      6        43,584
6   2019      7        44,850
7   2019      8        45,015
8   2019      9        41,281
9   2019     10        43,438
10  2019     11        40,990
11  2019     12        43,070
12  2020      1        40,937
13  2020      2        39,308
14  2020      3        44,272
15  2020      4        21,190
16  2020      5        12,322
17  2020      6        15,371
18  2020      7        23,869
19  2020      8        25,700
20  2020      9        21,946
21  2020     10        24,011
22  2020     11        24,790
23  2020     12        25,052
24  2021      1        24,715
25  2021      2        22,820
26  2021      3        30,017
27  2021      4        30,928
28  2021      5        33,619
29  2021      6        37,213
30  2021      7        39,591
31  2021      8        39,288
32  2021      9        36,712
33  2021     10        38,102
34  2021     11        37,266
35  2021     12        37,553
36  2022      1        36,650
37  2022      2        33,301
38  2022      3        38,646
39  2022      4        37,941
40  2022      5        39,184
41  2022      6        39,273
42  2022      7        40,677
43  2022      8        40,105
44  2022      9        38,118
45  2022     10        38,929
46  2022     11        37,001
47  2022     12        37,935
48  2023      1        36,743
49  2023      2        34,545
50  2023      3        39,709
51  2023      4        38,300
52  2023      5        39,656
53  2023      6        39,175
54  2023      7        40,813
55  2023      8        41,362

In [9]:
query_5 = """
SELECT
    YEAR,
    COUNT(*) AS Total_Flights,

    -- Delayed Rate: ARR_DELAY > 15
    ROUND(100.0 * SUM(CASE WHEN ARR_DELAY > 15 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS Delay_Rate,

    -- On-Time Rate: ARR_DELAY <= 15
    ROUND(100.0 * SUM(CASE WHEN ARR_DELAY <= 15 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS OnTime_Rate,

    -- Cancel Rate
    ROUND(100.0 * SUM(CASE WHEN CANCELLED = 1 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS Cancel_Rate,

    -- Divert Rate
    ROUND(100.0 * SUM(CASE WHEN DIVERTED = 1 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS Divert_Rate

FROM flights
WHERE AIRLINE = 'Envoy Air'          -- üîπ ƒë·ªïi t√™n h√£ng ·ªü ƒë√¢y
GROUP BY YEAR
ORDER BY YEAR;

"""
result_5 = pd.read_sql(query_5, conn)
result_5

   YEAR  Total_Flights  Delay_Rate  OnTime_Rate  Cancel_Rate  Divert_Rate
0  2019          22111       19.26        76.88         3.56         0.29
1  2020          14435       11.74        82.58         5.54         0.15
2  2021          17665       14.78        82.56         2.39         0.27
3  2022          16823       16.38        80.95         2.41         0.26
4  2023          10111       18.33        79.98         1.44         0.25

In [10]:
query_6 = """
SELECT
    YEAR, MONTH,
    COUNT(*) AS Total_Flights,

    -- Delayed Rate: ARR_DELAY > 15
    ROUND(100.0 * SUM(CASE WHEN ARR_DELAY > 15 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS Delay_Rate,

    -- On-Time Rate: ARR_DELAY <= 15
    ROUND(100.0 * SUM(CASE WHEN ARR_DELAY <= 15 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS OnTime_Rate,

    -- Cancel Rate
    ROUND(100.0 * SUM(CASE WHEN CANCELLED = 1 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS Cancel_Rate,

    -- Divert Rate
    ROUND(100.0 * SUM(CASE WHEN DIVERTED = 1 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS Divert_Rate

FROM flights
WHERE AIRLINE = 'Envoy Air'          -- üîπ ƒë·ªïi t√™n h√£ng ·ªü ƒë√¢y
GROUP BY YEAR, MONTH
ORDER BY YEAR, MONTH;

"""
result_6 = pd.read_sql(query_6, conn)
result_6

,YEAR,MONTH,Total_Flights,Delay_Rate,OnTime_Rate,Cancel_Rate,Divert_Rate
0,2019,1,1751,20.10,71.90,7.94,0.06
1,2019,2,1531,26.71,66.82,6.07,0.39
2,2019,3,1785,15.13,83.25,1.51,0.11
3,2019,4,1761,15.45,80.24,4.03,0.28
4,2019,5,1933,22.61,73.98,3.26,0.16
5,2019,6,1923,25.43,69.58,4.42,0.57
6,2019,7,1999,19.61,75.24,4.85,0.30
7,2019,8,2106,19.47,76.73,3.28,0.52
8,2019,9,1877,16.68,79.97,3.14,0.21
9,2019,10,1875,17.65,80.64,1.49,0.21
10,2019,11,1725,14.09,84.17,1.57,0.17
11,2019,12,1845,18.48,79.46,1.63,0.43
12,2020,1,1781,16.79,79.67,3.31,0.22
13,2020,2,1670,16.95,81.44,1.44,0.18
14,2020,3,1829,9.24,76.22,14.49,0.05
15,2020,4,1002,1.20,58.38,40.42,0.00
16,2020,5,650,7.85,90.92,1.08,0.15
17,2020,6,825,8.24,91.64,0.00,0.12
18,2020,7,1177,12.40,87.17,0.25,0.17
19,2020,8,1137,8.97,90.24,0.70,0.09
20,2020,9,1054,10.44,88.71,0.57,0.28
21,2020,10,1137,16.53,82.76,0.44,0.26
22,2020,11,1066,9.76,89.87,0.28,0.09
23,2020,12,1107,14.63,84.01,1.26,0.09
24,2021,1,1250,14.16,83.84,1.68,0.32
25,2021,2,1144,17.57,69.23,13.02,0.17
26,2021,3,1365,10.26,87.84,1.61,0.29
27,2021,4,1322,11.88,87.22,0.53,0.38
28,2021,5,1505,15.35,82.06,2.13,0.47
29,2021,6,1612,21.71,75.68,2.23,0.37
30,2021,7,1631,18.95,80.07,0.74,0.25
31,2021,8,1661,18.42,76.76,4.46,0.36
32,2021,9,1493,10.05,89.15,0.74,0.07
33,2021,10,1556,12.53,84.64,2.70,0.13
34,2021,11,1609,9.63,90.18,0.06,0.12
35,2021,12,1517,15.82,82.86,1.05,0.26
36,2022,1,1526,14.55,82.04,3.34,0.07
37,2022,2,1357,15.03,74.43,10.46,0.07
38,2022,3,1464,13.39,84.63,1.78,0.20
39,2022,4,1552,16.49,80.86,2.26,0.39
40,2022,5,1424,16.29,82.02,1.47,0.21
41,2022,6,1374,16.01,82.61,0.95,0.44
42,2022,7,1538,16.51,82.44,0.59,0.46
43,2022,8,1483,18.27,78.96,2.43,0.34
44,2022,9,1298,12.87,85.98,0.92,0.23
45,2022,10,1331,12.40,87.08,0.38,0.15
46,2022,11,1168,20.72,77.74,1.37,0.17
47,2022,12,1308,25.00,71.64,3.06,0.31
48,2023,1,1287,21.13,75.68,3.03,0.16
49,2023,2,1195,14.39,82.93,2.51,0.17
50,2023,3,1260,21.59,76.51,1.51,0.40
51,2023,4,1214,17.71,80.23,1.81,0.25
52,2023,5,1240,15.00,84.68,0.08,0.24
53,2023,6,1169,21.64,77.42,0.86,0.09
54,2023,7,1338,21.23,78.03,0.45,0.30
55,2023,8,1408,14.13,84.16,1.35,0.36

In [11]:
query_7 = """
SELECT
    YEAR, QUARTER,
    COUNT(*) AS Total_Flights,

    -- Delayed Rate: ARR_DELAY > 15
    ROUND(100.0 * SUM(CASE WHEN ARR_DELAY > 15 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS Delay_Rate,

    -- On-Time Rate: ARR_DELAY <= 15
    ROUND(100.0 * SUM(CASE WHEN ARR_DELAY <= 15 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS OnTime_Rate,

    -- Cancel Rate
    ROUND(100.0 * SUM(CASE WHEN CANCELLED = 1 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS Cancel_Rate,

    -- Divert Rate
    ROUND(100.0 * SUM(CASE WHEN DIVERTED = 1 THEN 1 ELSE 0 END) 
          / COUNT(*), 2) AS Divert_Rate

FROM flights
WHERE AIRLINE = 'Envoy Air'          -- üîπ ƒë·ªïi t√™n h√£ng ·ªü ƒë√¢y
GROUP BY YEAR, QUARTER
ORDER BY YEAR, QUARTER;

"""
result_7 = pd.read_sql(query_7, conn)
result_7

,YEAR,QUARTER,Total_Flights,Delay_Rate,OnTime_Rate,Cancel_Rate,Divert_Rate
0,2019,1,5067,20.35,74.36,5.11,0.18
1,2019,2,5617,21.33,74.43,3.90,0.34
2,2019,3,5982,18.64,77.25,3.76,0.35
3,2019,4,5445,16.80,81.36,1.56,0.28
4,2020,1,5280,14.22,79.03,6.59,0.15
5,2020,2,2477,5.29,78.00,16.63,0.08
6,2020,3,3368,10.63,88.69,0.50,0.18
7,2020,4,3310,13.72,85.47,0.66,0.15
8,2021,1,3759,13.78,80.85,5.11,0.27
9,2021,2,4439,16.63,81.28,1.69,0.41
10,2021,3,4785,15.99,81.76,2.03,0.23
11,2021,4,4682,12.60,85.97,1.26,0.17
12,2022,1,4347,14.31,80.54,5.04,0.12
13,2022,2,4350,16.28,81.79,1.59,0.34
14,2022,3,4319,16.02,82.31,1.32,0.35
15,2022,4,3807,19.28,78.91,1.60,0.21
16,2023,1,3742,19.13,78.27,2.35,0.24
17,2023,2,3623,18.05,80.84,0.91,0.19
18,2023,3,2746,17.59,81.17,0.91,0.33